@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-gem-primary: #951F45;
  --color-gem-primary-light: #B52C5A;
  --color-gem-primary-dark: #6D142F;
  --color-gem-secondary: #D4AF37;
  --color-gem-secondary-light: #E6C86C;
  --color-gem-secondary-dark: #B39129;
}

body {
  background-color: #f8fafc;
  background-image: radial-gradient(#e2e8f0 1px, transparent 1px);
  background-size: 20px 20px;
  @apply transition-colors duration-300;
}

.dark body {
  background-color: #0f172a;
  background-image: radial-gradient(#1e293b 1px, transparent 1px);
}

@media print {
  @page {
    margin: 1cm;
    size: auto;
  }
  body, * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  /* Ocultar elementos específicos en impresión por si acaso */
  .dark body { 
    background-color: white !important; 
    background-image: none !important; 
    color: black !important;
  }
}
